extends base.pug

block content 
  h4 Edit Profile
  form(method="POST", enctype="multipart/form-data").edit-profile__form
    label(for="avatar") Avatar
    input(type="file", id="avatar", name="avatar", accept="image/*")
    input(type="text", name="username", placeholder="username", value=loggedInUser.username, required=true)
    input(type="text", name="name", placeholder="name", value=loggedInUser.name, required=true)
    input(type="email", name="email", placeholder="email", value=loggedInUser.email, required=true)
    input(type="text", name="location", placeholder="location", value=loggedInUser.location, required=true)
    input(type="submit", value="Update Profile")
  if !loggedInUser.socialOnly
    div.edit-profile__password
      a(href="change-password") Change Password &rarr;
      